In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Positionsalaries.csv")
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [3]:
X=df.iloc[0:,1]
X

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Level, dtype: int64

In [4]:
Y=df.iloc[0:,2]
Y

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

In [13]:
n=len(X)
X=X.reshape(n,1)
np.ndim(X)

2

## apply polynomial regression model

In [18]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [19]:
poly_reg=PolynomialFeatures(degree=3)
x_poly=poly_reg.fit_transform(X)
lin_reg=LinearRegression()
lin_reg.fit(x_poly,Y)

ValueError: Found input variables with inconsistent numbers of samples: [1, 10]

## visualization

In [ ]:
X=np.arrange(min(X),max(X),0.1)
X=X.reshape(len(X),1)
plt.scatter(X,Y,label='Salary')